:root {
  font-size: 17px;
}
.fontsize-30 {
  font-size: 1.875 rem;
}
.fontsize-29 {
  font-size: 1.8125 rem;
}
.fontsize-28 {
  font-size: 1.75 rem;
}
.fontsize-27 {
  font-size: 1.6875 rem;
}
.fontsize-26 {
  font-size: 1.625 rem;
}
.fontsize-25 {
  font-size: 1.5625 rem;
}
.fontsize-24 {
  font-size: 1.5 rem;
}
.fontsize-23 {
  font-size: 1.4375 rem;
}
.fontsize-22 {
  font-size: 1.375 rem;
}
.fontsize-21 {
  font-size: 1.3125 rem;
}
.fontsize-20 {
  font-size: 1.25 rem;
}
.fontsize-19 {
  font-size: 1.1875 rem;
}
.fontsize-18 {
  font-size: 1.125 rem;
}
.fontsize-17 {
  font-size: 1.0625 rem;
}
.fontsize-16 {
  font-size: 1 rem;
}
.fontsize-15 {
  font-size: 0.9375 rem;
}
.fontsize-14 {
  font-size: 0.875 rem;
}
.fontsize-13 {
  font-size: 0.8125 rem;
}
.fontsize-12 {
  font-size: 0.75 rem;
}
.fontsize-11 {
  font-size: 0.6875 rem;
}
.fontsize-10 {
  font-size: 0.625 rem;
}
@font-face {
  font-family: 'Lato';
  src: url('/fonts/webfontsLato-Regular.eot');
  src: url('/fonts/webfontsLato-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/webfontsLato-Regular.woff2') format('woff2'), url('/fonts/webfontsLato-Regular.woff') format('woff'), url('/fonts/webfontsLato-Regular.ttf') format('truetype'), url('/fonts/webfontsLato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('/fonts/webfontsLato-Black.eot');
  src: url('/fonts/webfontsLato-Black.eot?#iefix') format('embedded-opentype'), url('/fonts/webfontsLato-Black.woff2') format('woff2'), url('/fonts/webfontsLato-Black.woff') format('woff'), url('/fonts/webfontsLato-Black.ttf') format('truetype'), url('/fonts/webfontsLato-Black.svg#Lato-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('/fonts/webfontsLato-SemiBold.eot');
  src: url('/fonts/webfontsLato-SemiBold.eot?#iefix') format('embedded-opentype'), url('/fonts/webfontsLato-SemiBold.woff2') format('woff2'), url('/fonts/webfontsLato-SemiBold.woff') format('woff'), url('/fonts/webfontsLato-SemiBold.ttf') format('truetype'), url('/fonts/webfontsLato-SemiBold.svg#Lato-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('/fonts/webfontsLato-BoldItalic.eot');
  src: url('/fonts/webfontsLato-BoldItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/webfontsLato-BoldItalic.woff2') format('woff2'), url('/fonts/webfontsLato-BoldItalic.woff') format('woff'), url('/fonts/webfontsLato-BoldItalic.ttf') format('truetype'), url('/fonts/webfontsLato-BoldItalic.svg#Lato-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('/fonts/webfontsLato-BlackItalic.eot');
  src: url('/fonts/webfontsLato-BlackItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/webfontsLato-BlackItalic.woff2') format('woff2'), url('/fonts/webfontsLato-BlackItalic.woff') format('woff'), url('/fonts/webfontsLato-BlackItalic.ttf') format('truetype'), url('/fonts/webfontsLato-BlackItalic.svg#Lato-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('/fonts/webfontsLato-SemiBoldItalic.eot');
  src: url('/fonts/webfontsLato-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/webfontsLato-SemiBoldItalic.woff2') format('woff2'), url('/fonts/webfontsLato-SemiBoldItalic.woff') format('woff'), url('/fonts/webfontsLato-SemiBoldItalic.ttf') format('truetype'), url('/fonts/webfontsLato-SemiBoldItalic.svg#Lato-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Futura Std';
  src: url('/fonts/webfontsFuturaStd-HeavyOblique.eot');
  src: url('/fonts/webfontsFuturaStd-HeavyOblique.eot?#iefix') format('embedded-opentype'), url('/fonts/webfontsFuturaStd-HeavyOblique.woff2') format('woff2'), url('/fonts/webfontsFuturaStd-HeavyOblique.woff') format('woff'), url('/fonts/webfontsFuturaStd-HeavyOblique.ttf') format('truetype'), url('/fonts/webfontsFuturaStd-HeavyOblique.svg#FuturaStd-HeavyOblique') format('svg');
  font-weight: 900;
  font-style: italic;
}
/* Mixin */
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.paddingTop-5 {
  padding-top: 25px;
}
.paddingTop-4 {
  padding-top: 20px;
}
.paddingTop-3 {
  padding-top: 15px;
}
.paddingTop-2 {
  padding-top: 10px;
}
.paddingTop-1 {
  padding-top: 5px;
}
.paddingBottom-5 {
  padding-bottom: 25px;
}
.paddingBottom-4 {
  padding-bottom: 20px;
}
.paddingBottom-3 {
  padding-bottom: 15px;
}
.paddingBottom-2 {
  padding-bottom: 10px;
}
.paddingBottom-1 {
  padding-bottom: 5px;
}
.paddingLeft-5 {
  padding-left: 25px;
}
.paddingLeft-4 {
  padding-left: 20px;
}
.paddingLeft-3 {
  padding-left: 15px;
}
.paddingLeft-2 {
  padding-left: 10px;
}
.paddingLeft-1 {
  padding-left: 5px;
}
.paddingRight-5 {
  padding-right: 25px;
}
.paddingRight-4 {
  padding-right: 20px;
}
.paddingRight-3 {
  padding-right: 15px;
}
.paddingRight-2 {
  padding-right: 10px;
}
.paddingRight-1 {
  padding-right: 5px;
}
.marginTop-5 {
  margin-top: 25px;
}
.marginTop-4 {
  margin-top: 20px;
}
.marginTop-3 {
  margin-top: 15px;
}
.marginTop-2 {
  margin-top: 10px;
}
.marginTop-1 {
  margin-top: 5px;
}
.marginBottom-5 {
  margin-bottom: 25px;
}
.marginBottom-4 {
  margin-bottom: 20px;
}
.marginBottom-3 {
  margin-bottom: 15px;
}
.marginBottom-2 {
  margin-bottom: 10px;
}
.marginBottom-1 {
  margin-bottom: 5px;
}
.marginLeft-5 {
  margin-left: 25px;
}
.marginLeft-4 {
  margin-left: 20px;
}
.marginLeft-3 {
  margin-left: 15px;
}
.marginLeft-2 {
  margin-left: 10px;
}
.marginLeft-1 {
  margin-left: 5px;
}
.marginRight-5 {
  margin-right: 25px;
}
.marginRight-4 {
  margin-right: 20px;
}
.marginRight-3 {
  margin-right: 15px;
}
.marginRight-2 {
  margin-right: 10px;
}
.marginRight-1 {
  margin-right: 5px;
}
.display_inline {
  display: inline-block;
}
body {
  font-family: 'Lato';
}
.navbar-default.topNavbar {
  background-color: transparent;
  border: transparent;
  margin-top: 40px;
}
.navbar-default.topNavbar a.navbar-brand {
  display: flex;
  padding: 0;
}
.navbar-default.topNavbar a.navbar-brand img {
  width: 145px;
}
.navbar-default.topNavbar .navbar-nav {
  margin-top: 10px;
}
.navbar-default.topNavbar .navbar-nav > li {
  display: flex;
  align-items: center;
  height: 50px;
}
.navbar-default.topNavbar .navbar-nav > li > a {
  color: #ffffff;
  font-family: 'Lato';
  font-weight: 600;
  font-style: italic;
  font-size: 0.938rem;
}
.navbar-default.topNavbar .navbar-nav > .open > a {
  color: #ffffff;
  font-family: 'Lato';
  font-weight: 600;
  font-style: italic;
  font-size: 0.938rem;
  background-color: transparent;
}
.navbar-default.topNavbar .navbar-nav .active > a {
  background-color: transparent;
  position: relative;
}
.navbar-default.topNavbar .navbar-nav .active > a:after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 5px;
  height: 3px;
  background: #EB2929;
  width: 50%;
}
.navbar-default.topNavbar .navbar-nav .active > a:hover,
.navbar-default.topNavbar .navbar-nav .active > a:focus,
.navbar-default.topNavbar .navbar-nav .active > a:visited {
  background-color: transparent;
  color: #ffffff;
}
.navbar-default.topNavbar .navbar-nav ul.dropdown-menu {
  padding: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px 0 #0000001A;
  -moz-box-shadow: 0px 5px 10px 0 #0000001A;
  box-shadow: 0px 5px 10px 0 #0000001A;
  min-width: auto;
}
.navbar-default.topNavbar .navbar-nav ul.dropdown-menu li {
  display: flex;
}
.navbar-default.topNavbar .navbar-nav ul.dropdown-menu li .menuList {
  width: 220px;
}
.navbar-default.topNavbar .navbar-nav ul.dropdown-menu li .menuList + .menuList {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #c8c8c8;
}
.navbar-default.topNavbar .navbar-nav ul.dropdown-menu .media {
  width: 200px;
  position: relative;
}
.navbar-default.topNavbar .navbar-nav ul.dropdown-menu .media .media-left a .media-object {
  width: 27px;
}
.navbar-default.topNavbar .navbar-nav ul.dropdown-menu .media .media-body .media-heading {
  font-family: 'Lato';
  color: #000000;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}
.navbar-default.topNavbar .navbar-nav ul.dropdown-menu .media .media-body .timeStamp {
  color: #07334E;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  font-size: 0.75rem;
}
.navbar-default.topNavbar .navbar-nav ul.dropdown-menu .media .icon {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top: 50%;
  margin-top: -12px;
  right: 0;
  color: #07334E;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.container-fluid {
  width: 100%;
}
@media only screen and (min-width : 1366px) {
  .container-fluid {
    width: 1366px;
    max-width: 1366px;
  }
}
.headerBanner {
  height: 684px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -9;
}
.headerBanner img {
  position: absolute;
  width: 100%;
}
.headerBanner img.convexCurve {
  bottom: 0;
}
/*# sourceMappingURL=./style.css.map */